{deps, [
  {cowboy,  ".*", {git, "https://github.com/extend/cowboy.git",      {tag, "0.6.1"}}},
  {jsx,     ".*", {git, "https://github.com/talentdeficit/jsx.git",  {tag, "v1.3.3"}}},
  {oauth2,  ".*", {git, "https://github.com/kivra/oauth2.git",       "master"}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "master"}}
]}.
