{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{require_otp_vsn,     "R1[456]"}.
{erl_opts,            [ debug_info
                      , warn_format
                      , warn_export_all
                      , warn_export_vars
                      , warn_obsolete_guard
                      , warn_bif_clash
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      ]}.
{xref_warnings,       false}.
{xref_checks,         [undefined_function_calls]}.
{eunit_opts,          [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{dialyzer_opts,       [{warnings,
                          [ error_handling
                          , race_conditions
                          , behaviours
                          ]}
                      ]}.
{clean_files,         [".eunit", "ebin/*.beam", "test/*.beam"]}.

{deps, [
  {cowboy,  ".*", {git, "https://github.com/extend/cowboy.git",      {tag, "0.8.6"}}},
  {jsx,     ".*", {git, "https://github.com/talentdeficit/jsx.git",  {tag, "v1.4.2"}}},
  {oauth2,  ".*", {git, "https://github.com/kivra/oauth2.git",       "master"}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "master"}}
]}.
